@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

/*--------------------*/
/*Адаптив изображений*/
.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative; }

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  content-visibility: auto; }

.loading-screen-ditector {
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1000; }

body._lock {
  overflow: hidden !important; }

.loading-screen {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10001;
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.7);
  -webkit-backdrop-filter: blur(9px);
  backdrop-filter: blur(9px);
  -webkit-transition: opacity 1.5s ease 0s;
  -o-transition: opacity 1.5s ease 0s;
  transition: opacity 1.5s ease 0s; }
  .loading-screen span {
    font-size: 2vw;
    pointer-events: none;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    display: inline-block;
    padding-right: 5px;
    position: relative;
    top: 0;
    -webkit-transition: top 1.5s ease 0s;
    -o-transition: top 1.5s ease 0s;
    transition: top 1.5s ease 0s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: loading-screen-anim;
    animation-name: loading-screen-anim; }
  .loading-screen span:last-child {
    padding-right: 0; }
  @media (max-width: 1064px) {
    .loading-screen span {
      font-size: 22px; } }

@-webkit-keyframes loading-screen-anim {
  0% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%); }
  50% {
    -webkit-transform: translateY(-10%);
    transform: translateY(-10%); }
  100% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%); } }

@keyframes loading-screen-anim {
  0% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%); }
  50% {
    -webkit-transform: translateY(-10%);
    transform: translateY(-10%); }
  100% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%); } }

body:before, body:after {
  content: "";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.9);
  -webkit-backdrop-filter: blur(9px);
  backdrop-filter: blur(9px);
  z-index: 10000;
  -webkit-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
  opacity: 0;
  pointer-events: none;
  visibility: hidden; }

body:after {
  opacity: 1;
  pointer-events: auto;
  visibility: visible; }

body._Noloaded:after {
  opacity: 0;
  pointer-events: none;
  visibility: hidden; }

body._Noloaded {
  overflow: hidden; }

body._Noloaded .Banner__bacgraund {
  opacity: 0; }

body._Noloaded:before {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
  -webkit-transition: all 0s ease 0s;
  -o-transition: all 0s ease 0s;
  transition: all 0s ease 0s; }

body._loaded:after {
  opacity: 0;
  pointer-events: none;
  visibility: hidden; }

body._loaded .loading-screen {
  opacity: 0;
  pointer-events: none; }

body._loaded .loading-screen span {
  top: -2vw; }

/*--------------------*/
