@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

/*--------------------*/
/*Адаптив изображений*/
.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative; }

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden; }

/*--------------------*/
@font-face {
  font-family: 'fontello';
  src: url("../font/fontello.eot?40965941");
  src: url("../font/fontello.eot?40965941#iefix") format("embedded-opentype"), url("../font/fontello.woff2?40965941") format("woff2"), url("../font/fontello.woff?40965941") format("woff"), url("../font/fontello.ttf?40965941") format("truetype"), url("../font/fontello.svg?40965941#fontello") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?40965941#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

.icon-github:before {
  content: '\e800'; }

/* '' */
.icon-network:before {
  content: '\e801'; }

/* '' */
.icon-facebook:before {
  content: '\f052'; }

/* '' */
.icon-gplus:before {
  content: '\f0d5'; }

/* '' */
.icon-youtube-play:before {
  content: '\f16a'; }

/* '' */
.icon-tumblr:before {
  content: '\f173'; }

/* '' */
.icon-twitter-1:before {
  content: '\f302'; }

/* '' */
.icon-twitter:before {
  content: '\f309'; }

/* '' */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px; }

body {
  font-family: 'Roboto', sans-serif; }

input[type=text], input[type=email], input[type=tel], textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

.input {
  text-align: center;
  border-radius: 0 !important;
  width: 100%;
  display: block;
  height: 50px;
  border-bottom: 1px solid #e1e1e1;
  font-size: 14px;
  color: #7f7f82;
  position: relative;
  background: transparent;
  z-index: 4; }

textarea.input {
  resize: none;
  padding-top: 30px;
  height: 100px; }

.GetinTouch-form__bth {
  width: 100%;
  height: 60px;
  margin-top: 35px;
  background: #22222b;
  color: #fff;
  font-size: 16px; }

.heder {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2; }

.heder.sticky {
  z-index: 10; }

.heder.blur1 {
  background: rgba(255, 255, 255, 0.8);
  border-bottom: 2px solid rgba(34, 34, 45, 0.3); }

.heder.sticky.blur2 {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px); }

.heder-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 120px;
  position: relative; }

.heder-span {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  z-index: 5;
  opacity: 0;
  -webkit-transition-duration: 1.5s;
  -o-transition-duration: 1.5s;
  transition-duration: 1.5s;
  visibility: hidden; }
  .heder-span.active {
    opacity: 1;
    visibility: visible; }

.logo img {
  position: relative;
  z-index: 10; }
  @media (max-width: 768px) {
    .logo img {
      width: 135px; } }

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 5; }

.link {
  position: relative;
  margin-left: 22px; }
  .link:first-child {
    margin: 0; }
  @media (max-width: 768px) {
    .link {
      margin-left: 35px !important;
      margin-top: 15px; } }

.link a {
  position: relative;
  z-index: 10;
  color: #22222b;
  font-size: 16px; }
  @media (max-width: 768px) {
    .link a {
      font-size: 24px;
      text-align: center; } }

.heder__burger {
  display: none; }

@media (max-width: 768px) {
  body.lock {
    overflow: hidden; }
  .heder__burger {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    display: block;
    position: absolute;
    top: 55px;
    right: 15px;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5; }
    .heder__burger span {
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s;
      top: 8px;
      left: 0px;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #4d4959; }
      .heder__burger span:first-child {
        top: 0px; }
      .heder__burger span:last-child {
        top: auto;
        bottom: 0px; }
    .heder__burger.active span {
      -webkit-transform: scale(0);
      -ms-transform: scale(0);
      transform: scale(0); }
      .heder__burger.active span:first-child {
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: 8px; }
      .heder__burger.active span:last-child {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        top: 8px; }
  .list {
    z-index: 4;
    -webkit-transition: 0.8s;
    -o-transition: 0.8s;
    transition: 0.8s;
    display: block;
    position: fixed;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    left: -120%;
    top: 0;
    background-color: #fff;
    padding: 120px 10px 20px 10px; }
    .list.active {
      left: 0; } }

.Banner-flex {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center; }

.button {
  font-weight: 500;
  position: relative;
  display: inline-block;
  color: #000;
  letter-spacing: 2px;
  padding: 20px 34px;
  overflow: hidden;
  -webkit-transition-duration: 2s;
  -o-transition-duration: 2s;
  transition-duration: 2s;
  font-size: 60px; }
  @media (max-width: 1000px) {
    .button {
      font-size: 50px; } }
  @media (max-width: 700px) {
    .button {
      font-size: 30px; } }
  @media (max-width: 400px) {
    .button {
      font-size: 20px; } }

.button-left {
  font-weight: 300; }

.button__line {
  position: absolute;
  display: block;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s; }

.button__line-top {
  top: 0;
  left: -95%;
  width: 100%;
  height: 2px;
  background: #3d3d52; }

.button__line-right {
  right: 0;
  bottom: -75%;
  width: 2px;
  height: 100%;
  background: #3d3d52; }

.button__line-botton {
  bottom: 0;
  right: -95%;
  width: 100%;
  height: 2px;
  background: #3d3d52; }

.button__line-left {
  left: 0;
  top: -75%;
  width: 2px;
  height: 100%;
  background: #3d3d52; }

.Banner-scrol {
  width: 26px;
  height: 45px;
  position: absolute;
  bottom: 45px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }

.Banner-scrol a img {
  width: 100%;
  height: 100%;
  opacity: 1;
  visibility: visible; }

.AboutUs {
  padding: 130px 0 130px 0; }
  @media (max-width: 1400px) {
    .AboutUs {
      padding: 65px 0 65px 0; } }
  @media (max-width: 1200px) {
    .AboutUs {
      padding: 45px 0 45px 0; } }
  @media (max-width: 500px) {
    .AboutUs {
      padding: 25px 0 5px 0; } }

.AboutUs-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 575px; }
  @media (max-width: 1000px) {
    .AboutUs-flex {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; } }

.About_Us-left {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media (max-width: 1000px) {
    .About_Us-left {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }

@media (max-width: 1000px) {
  .About_Us-left-container {
    position: relative;
    width: 470px;
    min-height: 480px; } }

.AboutUs-reght {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%; }
  @media (max-width: 1000px) {
    .AboutUs-reght {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }

.AboutUs-left-img {
  width: 375px;
  height: 464px;
  position: absolute;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }
  @media (max-width: 425px) {
    .AboutUs-left-img {
      width: 100%;
      height: 100%; } }

.AboutUs-left-img1 {
  z-index: 2;
  bottom: 0;
  right: 0;
  opacity: 1; }
  .AboutUs-left-img1.sase1 {
    z-index: 1;
    opacity: 0.6; }

.AboutUs-left-img2 {
  z-index: 1;
  top: 0;
  left: 0;
  opacity: 0.6; }
  .AboutUs-left-img2.sase2 {
    z-index: 2;
    opacity: 1; }

.AboutUs-left-text {
  position: absolute;
  height: 16px;
  z-index: 3;
  bottom: -100%;
  left: -50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  font-size: 16px;
  color: #22222b;
  letter-spacing: 2px;
  -webkit-transition: 3.5s;
  -o-transition: 3.5s;
  transition: 3.5s; }

.About_Us-left-container._active .AboutUs-left-text {
  bottom: 130px; }

.AboutUs-left-text span {
  width: 45px;
  height: 1px;
  background: #22222b;
  z-index: 3;
  display: inline-block;
  margin-left: 11px; }

.AboutUs-reght {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }
  @media (max-width: 1000px) {
    .AboutUs-reght {
      min-height: 440px;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }
  @media (max-width: 700px) {
    .AboutUs-reght {
      min-height: 200px; } }

.AboutUs-reght-container {
  max-width: 520px;
  margin-left: 15px;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  @media (min-width: 1200px) {
    .AboutUs-reght-container {
      height: 575px; } }
  @media (max-width: 1200px) {
    .AboutUs-reght-container {
      max-width: 470px;
      height: 500px; } }
  @media (max-width: 1000px) {
    .AboutUs-reght-container {
      margin-left: 0;
      height: 440px; } }
  @media (max-width: 700px) {
    .AboutUs-reght-container {
      height: 370px; } }

.AboutUs-reght-container-top {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 20%;
  flex: 1 1 20%; }
  @media (max-width: 1000px) {
    .AboutUs-reght-container-top {
      -webkit-box-flex: 1;
      -ms-flex: 1 1 5%;
      flex: 1 1 5%; } }

.AboutUs-reght-container-bottom {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 80%;
  flex: 0 0 80%;
  overflow: hidden; }
  @media (max-width: 1000px) {
    .AboutUs-reght-container-bottom {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 95%;
      flex: 0 0 95%; } }

.AboutUs-reght-hedeng {
  font-size: 48px;
  font-weight: 500;
  color: #22222b;
  margin-bottom: 35px; }
  @media (max-width: 1000px) {
    .AboutUs-reght-hedeng {
      margin-top: 20px;
      margin-bottom: 15px; } }

.AboutUs-reght-text {
  font-size: 16px;
  color: #7f7f82;
  margin-bottom: 45px;
  line-height: 25px; }
  @media (max-width: 700px) {
    .AboutUs-reght-text {
      margin-bottom: 25px; } }

.AboutUs-reght-Adobe {
  width: 100%;
  height: 42px;
  margin-bottom: 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  @media (max-width: 700px) {
    .AboutUs-reght-Adobe {
      height: 32px;
      margin-bottom: 20px; } }

.AboutUs-reght-Adobe-top {
  width: 100%;
  height: 11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative; }

.AboutUs-reght-Adobe-top span {
  left: 0;
  top: 0;
  width: 100%;
  height: 2px;
  display: block;
  position: absolute; }

.AboutUs-reght-Adobe-top span:nth-child(1) {
  position: absolute;
  z-index: 1;
  background: #f2f2f2; }

.AboutUs-reght-Adobe-top span:nth-child(2) {
  position: absolute;
  z-index: 2;
  background: #22222b; }

.AboutUs-reght-Adobe-top-Photoshop._active {
  left: 0 !important; }

.AboutUs-reght-Adobe-top-Photoshop {
  left: -100% !important;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s; }

.AboutUs-reght-Adobe-top-Indesign._active {
  left: -180px !important; }

.AboutUs-reght-Adobe-top-Indesign {
  left: -100% !important;
  -webkit-transition: 2s;
  -o-transition: 2s;
  transition: 2s; }

.AboutUs-reght-Adobe-top-XD._active {
  left: -97px !important; }

.AboutUs-reght-Adobe-top-XD {
  left: -100% !important;
  -webkit-transition: 3s;
  -o-transition: 3s;
  transition: 3s; }

.AboutUs-reght-Adobe-top span:nth-child(3) {
  position: absolute;
  z-index: 2;
  background: #22222b;
  -webkit-transform: translate(-45%, -40%);
  -ms-transform: translate(-45%, -40%);
  transform: translate(-45%, -40%);
  width: 11px;
  height: 11px;
  border-radius: 50%; }

.AboutUs-reght-Adobe-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 16px;
  color: #22222b;
  font-weight: 500; }

.MyServices {
  padding: 130px 0 75px 0;
  background: #faf9fe; }
  @media (max-width: 1024px) {
    .MyServices {
      padding: 65px 0 0 0; } }
  @media (max-width: 700px) {
    .MyServices {
      padding: 35px 0 0 0; } }

.MyServices-title {
  text-align: center;
  font-size: 36px;
  color: #22222b;
  margin-bottom: 23px; }

.MyServices-text {
  margin-bottom: 65px;
  text-align: center;
  font-size: 16px;
  color: #7f7f82; }

.MyServices-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.MyServices-flex-block {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.333%;
  flex: 0 0 33.333%;
  margin-bottom: 50px;
  -webkit-transition: 2s;
  -o-transition: 2s;
  transition: 2s;
  opacity: 0;
  -webkit-transform: translateY(-20%);
  -ms-transform: translateY(-20%);
  transform: translateY(-20%); }
  @media (max-width: 900px) {
    .MyServices-flex-block {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%; } }
  @media (max-width: 600px) {
    .MyServices-flex-block {
      margin-bottom: 35px; } }
  @media (max-width: 400px) {
    .MyServices-flex-block {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%; } }

.MyServices-flex-block._active {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  opacity: 1; }

.MyServices-flex-img {
  margin-bottom: 35px; }

.MyServices-flex-title {
  font-size: 22px;
  color: #22222b;
  margin-bottom: 25px; }

.MyServices-flex-text {
  font-size: 14px;
  color: #7f7f82;
  margin-bottom: 25px;
  line-height: 23px; }

.MyServices-flex-strip {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 15px; }

.MyServices-flex-strip span {
  width: 25px;
  height: 1px;
  display: block;
  background: #22222b; }

.MyServices-flex-strip p {
  margin-right: 10px;
  font-size: 14px;
  color: #22222b; }

.MyPortfolio {
  padding: 130px 0 75px 0;
  background: #fff; }
  @media (max-width: 1024px) {
    .MyPortfolio {
      padding: 65px 0 0 0; } }
  @media (max-width: 700px) {
    .MyPortfolio {
      padding: 35px 0 0 0; } }

.MyPortfolio-flex-block-bottom a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3; }

.MyPortfolio-flex-block-top a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3; }

.MyPortfolio-title {
  text-align: center;
  font-size: 36px;
  color: #22222b;
  margin-bottom: 23px; }

.MyPortfolio-text {
  margin-bottom: 85px;
  text-align: center;
  font-size: 16px;
  color: #7f7f82; }
  @media (max-width: 700px) {
    .MyPortfolio-text {
      margin-bottom: 35px; } }

.MyPortfolio-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  @media (max-width: 700px) {
    .MyPortfolio-flex {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; } }

.MyPortfolio-flex-block {
  overflow: hidden;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 31.28%;
  flex: 0 0 31.28%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 860px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  @media (max-width: 1200px) {
    .MyPortfolio-flex-block {
      height: 750px; } }
  @media (max-width: 700px) {
    .MyPortfolio-flex-block {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 48%;
      flex: 0 0 48%; } }
  @media (max-width: 500px) {
    .MyPortfolio-flex-block {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      -webkit-box-orient: vertical !important;
      -webkit-box-direction: normal !important;
      -ms-flex-direction: column !important;
      flex-direction: column !important; } }

@media (max-width: 700px) {
  .MyPortfolio-flex-block:last-child {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    height: 380px;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; } }

@media (max-width: 500px) {
  .MyPortfolio-flex-block:last-child {
    height: 750px; } }

@media (max-width: 700px) {
  .MyPortfolio-flex-block:last-child .MyPortfolio-flex-block-top {
    height: 80%;
    width: 48%; } }

@media (max-width: 500px) {
  .MyPortfolio-flex-block:last-child .MyPortfolio-flex-block-top {
    height: 30%;
    width: 100%; } }

@media (max-width: 700px) {
  .MyPortfolio-flex-block:last-child .MyPortfolio-flex-block-bottom {
    height: 100%;
    width: 48%; } }

@media (max-width: 500px) {
  .MyPortfolio-flex-block:last-child .MyPortfolio-flex-block-bottom {
    height: 70%;
    width: 100%; } }

.MyPortfolio-flex-block-top {
  position: relative;
  height: 42%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 10px; }
  @media (max-width: 500px) {
    .MyPortfolio-flex-block-top {
      height: 43% !important;
      width: 100% !important; } }

.MyPortfolio-flex-block-bottom {
  position: relative;
  height: 55%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 10px; }

.MyPortfolio-flex-block-bottom-hover {
  width: 90%;
  height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.5);
  position: relative;
  opacity: 0;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s; }

.MyPortfolio-flex-block-top-hover {
  width: 90%;
  height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.5);
  opacity: 0;
  position: relative;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s; }

.MyPortfolio-flex-block-bottom-hover-top {
  width: 22px;
  height: 1px;
  display: block;
  background: #000;
  position: absolute;
  top: 0;
  left: 0; }

.MyPortfolio-flex-block-bottom-hover-left {
  width: 1px;
  height: 22px;
  display: block;
  background: #000;
  position: absolute;
  top: 0;
  left: 0; }

.MyPortfolio-flex-block-bottom-hover-bottom {
  width: 22px;
  height: 1px;
  display: block;
  background: #000;
  position: absolute;
  bottom: 0;
  right: 0; }

.MyPortfolio-flex-block-bottom-hover-reght {
  width: 1px;
  height: 22px;
  display: block;
  background: #000;
  position: absolute;
  bottom: 0;
  right: 0; }

.MyPortfolio-flex-block-bottom-block {
  width: 210px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.MyPortfolio-flex-block-bottom-block-cross {
  width: 22px;
  height: 22px;
  margin: 0 auto;
  position: relative; }

.MyPortfolio-flex-block-bottom-block-cross span:first-child {
  width: 100%;
  height: 2px;
  display: block;
  background: #000;
  top: 10px;
  left: 0;
  position: absolute; }

.MyPortfolio-flex-block-bottom-block-cross span:last-child {
  width: 2px;
  height: 100%;
  display: block;
  background: #000;
  top: 0;
  left: 10px;
  position: absolute; }

.MyPortfolio-flex-block-bottom-block-title {
  text-align: center;
  font-size: 24px;
  color: #22222b;
  margin-bottom: 14px; }

.MyPortfolio-flex-block-bottom-block-text {
  text-align: center;
  font-size: 14px;
  color: #22222b; }

.Available {
  background: #22222b;
  padding: 100px 0 100px 0; }
  @media (max-width: 700px) {
    .Available {
      padding: 50px 0 50px 0; } }

.Available-flex p {
  text-align: center;
  font-size: 22px;
  color: #fff;
  margin-bottom: 28px; }
  @media (max-width: 700px) {
    .Available-flex p {
      font-size: 15px; } }

.Available-flex h2 {
  text-align: center;
  font-size: 48px;
  color: #fff;
  margin-bottom: 35px; }
  @media (max-width: 700px) {
    .Available-flex h2 {
      font-size: 25px; } }

.Available-flex-button {
  width: 175px;
  height: 45px;
  background: #fff;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 16px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  color: #22222b;
  border: 2px solid #fff; }

.Available-flex-button:hover {
  background: #22222b;
  color: #fff; }

.Testimonials {
  background: #fff;
  padding: 100px 0 85px 0; }
  @media (max-width: 700px) {
    .Testimonials {
      padding: 50px 0 35px 0; } }

.Testimonials-title {
  text-align: center;
  font-size: 36px;
  color: #22222b;
  margin-bottom: 23px; }

.Testimonials-text {
  margin-bottom: 85px;
  text-align: center;
  font-size: 16px;
  color: #7f7f82; }
  @media (max-width: 700px) {
    .Testimonials-text {
      margin-bottom: 35px; } }

.Testimonials-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media (max-width: 600px) {
    .Testimonials-flex {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; } }

.Testimonials-flex-block {
  margin-bottom: 15px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%; }
  @media (max-width: 600px) {
    .Testimonials-flex-block {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%; } }

.Testimonials-flex-block-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.Testimonials-flex-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden; }

.Testimonials-flex-img img {
  width: 100%;
  height: 100%; }

.Testimonials-flex-block-top-right {
  margin-left: 40px; }
  @media (max-width: 700px) {
    .Testimonials-flex-block-top-right {
      margin-bottom: 20px; } }

.Testimonials-flex-block-top-right h2 {
  margin-bottom: 10px;
  font-size: 22px;
  color: #22222d; }
  @media (max-width: 700px) {
    .Testimonials-flex-block-top-right h2 {
      margin-bottom: 5px; } }

.Testimonials-flex-block-top-right p {
  font-size: 12px;
  color: #7f7f82; }

.Testimonials-flex-block-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin-top: 50px; }

.Testimonials-flex-block-bottom-block {
  max-width: 520px;
  position: relative; }

.Testimonials-flex-block-bottom-block img {
  position: absolute;
  top: 0;
  left: 0; }

.Testimonials-flex-block-bottom-block p {
  padding-top: 13px;
  font-size: 18px;
  color: #7f7f82;
  line-height: 25px; }

.Happy {
  background: #faf9fe;
  padding: 100px 0 70px 0; }
  @media (max-width: 700px) {
    .Happy {
      padding: 50px 0 20px 0; } }

.Happy-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around; }
  @media (max-width: 1000px) {
    .Happy-flex {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; } }

.Happy-flex-block {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 13.24%;
  flex: 0 0 13.24%;
  margin-bottom: 30px; }
  @media (max-width: 700px) {
    .Happy-flex-block {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 47%;
      flex: 0 0 47%; } }
  @media (max-width: 500px) {
    .Happy-flex-block {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%; } }

.Happy-flex-block h2 {
  font-size: 24px;
  color: #22222b;
  margin-bottom: 17px;
  font-weight: 500;
  text-align: center; }

.Happy-flex-block p {
  font-size: 16px;
  color: #22222b;
  text-align: center; }

.Happy-flex-block-img {
  width: 70px;
  height: 70px;
  margin: 0 auto;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #22222b;
  border-radius: 50%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.GetinTouch {
  padding: 130px 0; }
  @media (max-width: 1000px) {
    .GetinTouch {
      padding: 65px 0; } }
  @media (max-width: 700px) {
    .GetinTouch {
      padding: 25px 0; } }

.GetinTouch-container {
  max-width: 780px;
  margin: 0 auto;
  padding: 0 15px; }

.GetinTouch-title {
  text-align: center;
  font-size: 36px;
  color: #22222b;
  margin-bottom: 23px; }

.GetinTouch-text {
  margin-bottom: 85px;
  text-align: center;
  font-size: 16px;
  color: #7f7f82; }
  @media (max-width: 700px) {
    .GetinTouch-text {
      margin-bottom: 35px; } }

.GetinTouch-form-line {
  position: relative; }

.GetinTouch-form-line span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 14px;
  color: #7f7f82;
  z-index: 0; }

.GetinTouch-form-line-span3 {
  top: 40% !important; }

.foter {
  background: #22222b; }
  @media (max-width: 700px) {
    .foter {
      padding: 20px 0; } }

.foter-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100px; }
  @media (max-width: 700px) {
    .foter-flex {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -ms-flex-pack: distribute;
      justify-content: space-around; } }

.foter-blok1 p {
  font-size: 16px;
  color: #fff; }
  @media (max-width: 400px) {
    .foter-blok1 p {
      font-size: 14px; } }

@media (max-width: 700px) {
  .foter-blok1 {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2; } }

.foter-blok2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-width: 30%; }
  @media (max-width: 700px) {
    .foter-blok2 {
      -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
      order: 1;
      min-width: 61%; } }

.foter-link span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid transparent; }

.icon {
  font-size: 16px;
  color: #fff;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }

@media (min-width: 768px) {
  .link:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background: #22222b;
    bottom: -15px;
    left: 0;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: 0.45s;
    -o-transition: 0.45s;
    transition: 0.45s; }
  .link:hover:after {
    bottom: -10px;
    visibility: visible;
    opacity: 1; }
  .button:hover .button__line-left {
    top: 0;
    -webkit-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s; }
  .button:hover {
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    -webkit-box-shadow: 0 0 10px #3d3d52;
    box-shadow: 0 0 10px #3d3d52;
    -webkit-transition-delay: 0.75s;
    -o-transition-delay: 0.75s;
    transition-delay: 0.75s; }
  .button:hover .button__line-botton {
    right: 0;
    -webkit-transition-delay: 0.25s;
    -o-transition-delay: 0.25s;
    transition-delay: 0.25s; }
  .button:hover .button__line-right {
    bottom: 0;
    -webkit-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s; }
  .button:hover .button__line-top {
    left: 0;
    -webkit-transition-delay: 0.25s;
    -o-transition-delay: 0.25s;
    transition-delay: 0.25s; } }

@media (min-width: 1001px) {
  .AboutUs-left-img1.sase1 {
    z-index: 1;
    bottom: 19%;
    right: 36%;
    opacity: 0.6; }
  .AboutUs-left-img2.sase2 {
    z-index: 2;
    top: 19%;
    left: 36%;
    opacity: 1; }
  .MyPortfolio-flex-block-bottom:hover .MyPortfolio-flex-block-bottom-hover {
    opacity: 1;
    visibility: visible; }
  .MyPortfolio-flex-block-top:hover .MyPortfolio-flex-block-top-hover {
    opacity: 1 !important;
    visibility: visible !important; }
  .icon:hover {
    color: #f1d8c8; }
  .foter-link:hover span {
    border: 2px solid #f1d8c8; } }
